.navbar_container {
  padding-top: 25px;
}

.nav_item {
  color: #fff;
  text-decoration: none;
  /* font-size: 18px; */
}

.login_btn {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 30px;
  padding-top: 15px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 15px;
  opacity: 0.9;
  color: white;
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  background: linear-gradient(90deg, #e6ac5c 0%, #d87baa 36.9%, #4939d5 100%);
}

.coin_box {
  position: sticky;
  bottom: 10%;
  right: 10%;
  z-index: 10;
}

.coin_btn {
  background: linear-gradient(272.28deg, #d77baa -2.82%, #6f4aca 100.51%);
  border-radius: 7px;
  padding: 5px 9px;
  display: flex;
  border: none;
  gap: 7px;
}
